<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Upload Status</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script type="text/javascript" src="../static/js/jquery.js"></script>
	</head>
	<body>
		<form class="box">
			<h2>Uploaded successfully</h2>
				<input type="button" onclick="location.href='/gallery';" value="Gallery collection"/>
		</form>
		
		<script type="text/javascript">
			rndBackground();
		</script>
	</body>
</html>