<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title> Gallery </title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/></script>
		
		
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css">
		<script type="text/javascript" src="../static/js/jquery.js"></script>
		<script type="text/javascript" src="../static/js/lightbox-plus-jquery.min.js"></script>
		
	</head>
	<body>
		<h1>Welcome to your collection</h1>
			<div class="gallery">
				{% for image_name in image_names %}
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="{{url_for('send_image', filename=image_name)}}" data-lightbox="mygallery" data-title={{image_name}} ><img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}"></a>
				</div>
				{% endfor %}
			</div>
			
		<script type="text/javascript">
			rndBackground();
		</script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>