<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title> {{ user }}'s profile </title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery.js"></script>
	</head>
	<body>
		<form class="box" action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
			<p>Welcome {{ user }},</p>
			<input type="button" onclick="location.href='/gallery';" value="Gallery collection"/>
			
			<input class="upload-form" id="file" type="file" name="file" onchange="uploadMsg()" accept="image/*" multiple>
			
			<p id="msg"></p>
				
				{% with messages = get_flashed_messages()%}
					{%if messages%}
						{%for message in messages%}
							<p>{{message}}</p>
						{%endfor%}
					{%endif%}
				{%endwith%}
				
			<input type="submit" value="Upload" id="upload-button">
			
			<input id="logout" type="button" value="Log out" onclick="location.href='/api/dropsession';">
		</form>
		
		<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
		<script type="text/javascript">
			rndBackground();
			uploadMsg();
			uploadFirebase();
		</script>
		
	</body>
</html>